@tailwind base;
@tailwind components;
@tailwind utilities;

.overlay .video {
    @apply absolute transform bg-blue-200 bg-no-repeat bg-center w-20 h-20 rounded-full items-center justify-center flex -translate-x-1/2 -translate-y-1/2;
    background-image: url("/images/content/icon-play.svg");
    top: 50%;
    left: 50%;
  }